* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body {
    background-color: #425061;
    /* padding: 5rem; */
    /* margin-left: 300px; */
    /* font-family: 'Prompt', sans-serif; */
    /* width: 100%; */





}

.grid-container {


    width: 1028px;
    margin: 0 auto;
    /* width: 50%; */
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: 300px auto auto;
    background-color: white;
    gap: 10px 15px;
    /* width: 1025px; */
    /* width: 100%; */
    /* height: 20%; */
    /* margin: 50px 250px; */


}

.item {
    background-color: white;
    /* width: 100%; */




}

.side-info h2 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

.side-info>p {
    padding: 0;
    width: 100%;
    font-size: small;
    line-height: 1fr;
}

#side {


    border: 8px solid darkmagenta;
    padding: 20px;
    /* text-align: center; */
    grid-row-start: 1;
    grid-row-end: 7;
    margin-bottom: 1.5rem;
    /* grid-column: 1; */
    margin-left: 1rem;
    margin-top: 1rem;
    /* margin-right: 1.5rem; */
    color: aliceblue;
    background-color: #1a2f3d;

}

#sec1 {

    /* border: 1px solid blue; */
    padding: 10px;
    text-align: start;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: 400px;
    margin-top: 1rem;

}

#sec2 {


    color: aliceblue;

    background-color: #1a2f3d;
    border-radius: 10px;

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    width: 700px;
    height: 5cm;
    /* border: 1px solid blue; */
    padding: 10px;
    /* text-align: center; */
    grid-column-start: 2;
    grid-column-end:4;
}

#sec3 {
    /* border: 1px solid blue; */
    padding: 20px;
    /* text-align: center; */
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: 400px;

}

#sec4 {
    /* border: 1px solid blue; */
    padding: 20px;
    /* text-align: center; */
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: 400px;
}

#sec5 {
    /* border: 1px solid blue; */
    padding: 20px;
    /* text-align: center; */
    grid-column-start: 2;
    grid-column-end: 4;
    margin-right: 400px;
}

#sec6 {
    overflow: hidden;
    /* border: 1px solid blue; */
    padding: 20px;
    /* text-align: center; */
    grid-column-start: 2;
    grid-column-end: 4;
    color: #313b47;
    margin-bottom: 2rem;
    margin-right: 400px;
}

.textaside {

    border: 3px solid black;
    /* margin: 1rem; */
    background-color: #1a2f3d;
    width: 330px;
    height: 65rem;
    color: aliceblue;
    /* display: inline-block; */
    padding-left: 1.3rem;
    grid-row: 1/3;


}

pre h3 {
    color: cornflowerblue;
}

/* รูป */
.profile {
    overflow: hidden;
    text-align: center;

    /* border: 2px solid blue; */
    width: 210px;
    /* padding-left:12cm; */
    margin-bottom: 2rem;
}


.skill {
    padding-left: 1rem;
    /* border: 2px solid blue; */
    /* color: white; */
    line-height: 1cm;

}

#sub_skill1,
#sub_skill2 {
    /* color: yellow; */
    /* border: 3px solid blue; */
    margin: 1rem;

}

.order {
    /* color: yellow; */
    /* border: 3px solid green; */
    margin: 1rem 4rem 1rem 3rem;

}

/* interest */
.interest {
    padding-left: 1rem;
    /* border: 3px solid blue; */
    /* color: white; */
    line-height: 1cm;
    margin-top: 5rem;

}

#num_interest li {
    border: 1px solid white;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}

#pic_profile {
    width: 180px;
    height: 180px;
    background-size: cover;
    display: inline-block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;


}

.item .fa-solid {
    font-size: 30px;
    margin-right: 15px;
}
.item-info span{
    /* border: 1px solid yellow; */
    padding: 0;
}

#medium i{
    margin-right:10px;
}

#phone i{
    margin-right: 14px;
}
#mail i{
    margin-right: 10px;
}